.App {
  color: green;
  text-align: center;
}

.list {
  padding-top: 50px;
}

.list-header {
  font-size: 32px;
  font-weight: bold;
}

.list-item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.list-select {
  display: flex;
  justify-content: center;
}

.list-select button {
  height: 32px;
  margin: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 0 16px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  transition: box-shadow 1000ms ease, border 1000ms ease;
  user-select: none;
  background-color: #f9f9f9;
  border: solid 1px #dddedf;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .App {
    color: white;
  }

  .list-item {
    padding: 30px;
  }

  .list-item > img {
    padding: 0px;
  }
}

.list-item > img {
  border-radius: 50%;
}
